@import './ui/atoms/Button/Button.Scss';
@import './ui/atoms/Screen/Screen.Scss';
@import './ui/organisms/Calculator/Calculator.Scss';


body, html {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
*, ::after, ::before {
box-sizing: border-box;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
}
a {
text-decoration: none;
}
a:hover {
text-decoration: none;
}